body{
    font-size:18px;
    font-family:Calibri,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:200;
}

.main-header{
  background-color:#069;
}

.cushion{
    padding:15px;
}

.right{
    float:right;
}

nav a{
    display:inline-block;
    padding:0 0.5em;
    color:white;
}

.button{
    display:inline-block;
    border:0;
    padding:0.5em;
    background-color:#45B0E5;
    color:white;
    cursor:pointer;
    text-decoration:none;
    border-radius:4px;
}
