<div class="cushion">

    <h3>Contact</h3>

    {% if contact.address_1 %}
        <p>{{ contact.address_1 }}</p>
    {% endif %}

    {% if contact.address_2 %}
        <p>{{ contact.address_2 }}</p>
    {% endif %}

    {% if contact.city or contact.state %}
    <p>
        {{ contact.city }}
        {{ contact.state }}
    </p>
    {% endif %}

    {% if contact.country or contact.post_code %}
    <p>
        {{ contact.country }}
        {{ contact.post_code }}
    </p>
    {% endif %}

    <p><a href="{{ contact.website }}">{{ contact.website }}</a></p>
    <p>{{ contact.telephone }}</p>
    <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>

</div>