[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pep8 = "*"
factory_boy = "*"
flake8-html = "*"

[packages]
Django = "*"
Pillow = "*"
Unidecode = "*"
Willow = "*"
beautifulsoup4 = "*"
django-appconf = "*"
django-compressor = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-modelcluster = "*"
django-sendfile = "*"
django-taggit = "*"
django-treebeard = "*"
dj-static = "*"
html5lib = "*"
requests = "*"
psycopg2 = "*"
python3-memcached = "*"
uwsgi = "*"
wagtail = "*"

[requires]
python_version = "3.8"
