[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
flake8 = "*"
pep8 = "*"
factory_boy = "*"

[packages]
Django = "<2.0"
Pillow = "*"
Unidecode = "*"
Willow = "*"
beautifulsoup4 = "*"
django-appconf = "*"
django-compressor = "*"
django-modelcluster = "*"
django-sendfile = "*"
django-taggit = "*"
django-treebeard = "*"
html5lib = "*"
requests = "*"
psycopg2 = "*"
python3-memcached = "*"
wagtail = "<2.1"

[requires]
python_version = "3.8"
