{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    {% if self.hero_image %}
        {% image self.hero_image width-1000 as heroimagedata %}
        <style>
          .hero
          {
            height: 200px;
            background-image: url({{ heroimagedata.url }});
          }
        </style>
    {% else %}
        <style>
          .hero
          {
            height: 200px;
            background-image: url(/static/images/default_banner_image.jpg);
          }
        </style>
    {% endif %}
{% endblock %}


{% block hero-image %}
<section class="hero" alt="{{ self.hero_image.title }}">
    <div class="page-width">
    </div>
</section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="page-width float-layout">
            <div class="two-thirds"><div class="cushion">

                <h1>{{ self.title }}</h1>

                {% if self.casestudy_index %}
				
                    <div class="tags">
                        {% for country in self.countries.all %}
                            <a href="{% pageurl self.casestudy_index %}?country={{ country.country.name }}">
                            {{ country.country.name }}
                            </a>
                        {% endfor %}
                    </div>

                {% endif %}
				
                <p>{% if self.date %}<small>{{ self.date }}</small>{% endif %}</p>
				
                {% if self.summary %}
                    <p>{{ self.summary|richtext }}</p>
                {% endif %}
     
            </div></div>
      
        <div class="third">

            {% if self.downloadable_package %}
                <div class="cushion">
                    <a class="button" href="{{ self.downloadable_package.url }}">{{ self.downloadable_package.title }}</a>
                </div>
            {% endif %}

            {% if self.casestudy_index %}

            <div class="cushion">
                <h2>Focus Areas</h2>
                <div class="tags">
                    {% for focus_area in self.focus_areas.all %}
                    <a href="{% pageurl self.casestudy_index %}?focus_area={{ focus_area.focusarea.name }}">
                        {{ focus_area.focusarea.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="cushion">
                <h2>Organizations</h2>
                <ul>
                    {% for organization in self.organizations.all %}
                        <li><a href="{% pageurl self.casestudy_index %}?organization={{ organization.organization.name }}">
                        {{ organization.organization.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if self.marketplace_entry %}
                <div class="cushion">
                    <h2>Tech Firm</h2>
                    <ul>
                        <li><a href="{% pageurl self.casestudy_index %}?marketplace={{ self.marketplace_entry.title }}">
                        {{ self.marketplace_entry.title }}
                        </a></li>
                    </ul>
                </div>
            {% endif %}

            {% endif %}

        </div>

        </div>
    </section>
{% endblock %}