{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load portal_extras %}

{% block full-content %}
    <section class="content page-width">
        <h1 class="cushion">{{ self.title }}</h1>
            <div class="float-layout">
                <div class="quarter cushion">
                    <div class="filters cushion">

                        <label>Search</label>
                        <div class="search">
                            <input type="search">
                            <input type="submit" value=" ">
                        </div>
                        <div class="clear"></div>

                        <label>Filters</label>
                        <div class="tags">
                            <a href=" {% pageurl self %} ">Clear all filters</a>
                        </div>

                        <label>Countries</label>
                        <div class="tags">
                            {% for country in self.countries %}
                                {% if country.name in request.GET.country %}
                                    <a class="active" 
                                        href="?country={{ request.GET.country|remove_from_string:country.name }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ country.name }}
                                    </a>
                                {% else %}
                                    <a 
                                        href="?country={{ request.GET.country }},{{ country.name }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ country.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <label>Region</label>
                        <div class="tags">
                            {% for region in self.regions %}
                                {% if region.name in request.GET.region %}
                                    <a class="active" 
                                        href="?region={{ request.GET.region|remove_from_string:region.name }}&country={{ request.GET.country }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ region.name }}
                                    </a>
                                {% else %}
                                    <a 
                                        href="?region={{ request.GET.region }},{{ region.name }}&country={{ request.GET.country }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ region.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <label>Focus Areas</label>
                        <div class="tags">
                            {% for focus_area in self.focus_areas %}
                                {% if focus_area.name in request.GET.focus_area %}
                                    <a class="active" 
                                        href="?focus_area={{ request.GET.focus_area|remove_from_string:focus_area.name }}&country={{ request.GET.country }}&region={{ request.GET.region }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ focus_area.name }}
                                    </a>
                                {% else %}
                                    <a 
                                        href="?focus_area={{ request.GET.focus_area }},{{ focus_area.name }}&country={{ request.GET.country }}&region={{ request.GET.region }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }}">
                                        {{ focus_area.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <label>Organization</label>
                        <div class="tags">
                            {% for organization in self.organizations %}
                                {% if organization.name in request.GET.organization %}
                                    <a class="active" 
                                        href="?organization={{ request.GET.organization|remove_from_string:organization.name }}&country={{ request.GET.country }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&marketplace={{ request.GET.marketplace }}">
                                        {{ organization.name }}
                                    </a>
                                {% else %}
                                    <a 
                                        href="?organization={{ request.GET.organization }},{{ organization.name }}&country={{ request.GET.country }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&marketplace={{ request.GET.marketplace }}">
                                        {{ organization.name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <label>Marketplace</label>
                        <div class="tags">
                            {% for marketplace in self.marketplace_entries %}
                                {% if marketplace.title in request.GET.marketplace %}
                                    <a class="active" 
                                        href="?marketplace={{ request.GET.marketplace|remove_from_string:marketplace.title }}&country={{ request.GET.country }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}">
                                        {{ marketplace.title }}
                                    </a>
                                {% else %}
                                    <a 
                                        href="?marketplace={{ request.GET.marketplace }},{{ marketplace.title }}&country={{ request.GET.country }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}">
                                        {{ marketplace.title }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>


                <div class="three-quarters float-layout">

                    {% if self.intro %}
                        <div>
                            {{ self.intro|richtext }}
                        </div>
                    {% endif %}

                    {# Uses serve method defined in models.py - allows for paging if required #}
                    {# See also standard index for creating a listing with a tag #}
                    {% for page in casestudies %}
                        {% include "portal_pages/includes/page_list_item.html" %}
                    {% empty %}
                        <strong>No case studies found</strong>
                    {% endfor %}

                    {# Pagination - uses django.core.paginator #}
                    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
                    <div class="row">
                        <div class="col-sm-4 previous">
                            {% if casestudies.has_previous %}
                                <a href="?page={{ casestudies.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 pages">
                            Page {{ casestudies.number }} of {{ casestudies.paginator.num_pages }}
                        </div>
                        <div class="col-sm-4 next">
                            {% if casestudies.has_next %}
                                <a href="?page={{ casestudies.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
        </div>
    </section>

    <div class="spacer"></div>

    
{% endblock %}
