{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block extra-header %}
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>
{% endblock %}

{% block extra-css %}
    <link href="{% static 'css/chosen.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="page-width float-layout"><div class="cushion">

    <form enctype="multipart/form-data" action="." method="post" onsubmit="return checkFormAndSubmit();">
    {% csrf_token %}

    <div class="two-thirds"><div class="cushion">

        <div class="cushion">
            {{ case_study_index.submit_info|richtext }}
        </div>

        <div class="cushion">
            {% if form.errors or flow_json_file_form.errors %}
                <p class="cushion errorlabel">Please correct any errors below.</p>
            {% endif %}

            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}

            {{ form.summary.label_tag }}
            {{ form.summary }}
            {{ form.summary.errors }}

            {{ form.submitter_email.label_tag }}
            {{ form.submitter_email }}
            {{ form.submitter_email.errors }}

            <br />
            {{ flow_json_file_form.file.label_tag }}<br />
            {{ flow_json_file_form.file }}

            {{ flow_json_file_form.non_field_errors }}

            <div class="label-info">Include the .JSON file for your flow</div>

            <br />
            <label for="title">Focus Areas</label>
            <select id="focus_areas" name="focus_areas" multiple="multiple" data-placeholder="Select Focus Areas">
                {% for focus_area in focus_areas %}
                    <option value="{{ focus_area.id }}">{{ focus_area.name }}</option>
                {% endfor %}
            </select>
            <div class="addheader add_focus_area">Add a new focus area not listed</div>
            <div id="add_focus_area" class="collapsed" style="display:none;">
                <label for="focus_areas_additional">Enter additional focus areas separated by commas</label>
                <input type="text" id="focus_areas_additional" name="focus_areas_additional" />
            </div>

            <label for="title">Organisations</label>
            <select id="organizations" name="organizations" multiple="multiple" data-placeholder="Select Organisations">
                {% for organization in organizations %}
                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                {% endfor %}
            </select>
            <div class="addheader add_organization">Add a new organisation not listed</div>
            <div id="add_organization" class="collapsed" style="display:none;">
                <label for="organizations_additional">Enter additional organisations separated by commas</label>
                <input type="text" id="organizations_additional" name="organizations_additional" />
            </div>

            <br />
            {{ form.marketplace_entry.label_tag }}
            {{ form.marketplace_entry }}
            {{ form.marketplace_entry.errors }}

            <div class="label-info-header">Why isn't my Marketplace Entry listed?</div>
            <div class="label-info">
                Please add your marketplace entry:
                <a href="{% routablepageurl marketplace_index 'submit' %}" target="_new">Submit Your Own Marketplace Entry</a>
            </div>

            <br />
            <label for="title">Regions</label>
            <select id="regions" name="regions" multiple="multiple" data-placeholder="Select Regions">
                {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endfor %}
            </select>

            <br /><br />
            <label for="title">Countries</label>
            <select id="countries" name="countries" multiple="multiple" data-placeholder="Select Countries">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>

            <br /><br />
            <label for="year_start">Month/Date of Case Study Initiation</label>
            <select id="year_start" name="year_start">
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select id="month_start" name="month_start">
                {% for month_number, month_string in months %}
                    <option value="{{ month_number }}">{{ month_string }}</option>
                {% endfor %}
            </select>
        </div>

        {{ form.honeypot }}

        {% comment %}
            The following field is overridden in view submit_case_study() method, but is required on the case study form validation. 
        {% endcomment %}
        <input type="hidden" id="date" name="date" value="2015-01-01" />

        <div id="required_fields" class="cushion" style="display:none;">
            <span class="errorlabel">
                Please fill in all required* fields and enter valid information.
            </span>
        </div>

        <div class="cushion">
            <input type="submit" value="Add Me to Stories" />
        </div>

    </div></div>

    </form>
</div></div>

{% endblock %}

{% block extra-js %}

    {{ form.media }}

    <script>
        $('#focus_areas').chosen({});
        $('#organizations').chosen({});
        $('#regions').chosen({});
        $('#countries').chosen({});
        $("label[for='id_submitter_email']").addClass("required");

        tinymce.init({
            menubar : false,
            plugins: ["link"],
            toolbar: [
            "undo redo | styleselect | bold italic bullist numlist | link" 
            ],
            content_css : "/static/css/main.css",
            style_formats: [
                {title: 'P', block: 'p'},
                {title: 'H2', block: 'h2'},
                {title: 'H3', block: 'h3'},
                {title: 'H4', block: 'h4'},
                {title: 'H5', block: 'h5'},
                {title: 'H6', block: 'h6'},
            ],
            selector:'textarea'});

        $(".addheader").click(function(e){ // toggle collapse/uncollapse
            var divId = $(e.target).attr("class").split(" ")[1]; // ie. add_focus_area
            if ($("#"+divId).hasClass("uncollapsed")) {
                $("#"+divId).hide();
                $("#"+divId).removeClass("uncollapsed");
                $("#"+divId).addClass("collapsed");
            }
            else {
                $("#"+divId).show();
                $("#"+divId).removeClass("collapsed");
                $("#"+divId).addClass("uncollapsed");
            }
        });

        function checkFormAndSubmit() {
            formPass = 1;

            //Clear out the error labels
            $("label[for='id_title']").removeClass("errorlabel");
            $("label[for='id_summary']").removeClass("errorlabel");
            $("label[for='id_submitter_email']").removeClass("errorlabel");

            $("#required_fields").hide();
            //Check for required fields
            if ($("#id_title").val() == "") {
                $("label[for='id_title']").addClass("errorlabel");
                formPass = 0;
            }
            if (tinymce.get("id_summary").getContent() == "") {
                $("label[for='id_summary']").addClass("errorlabel");
                formPass = 0;
            }
            if ($("#id_submitter_email").val() == "") {
                $("label[for='id_submitter_email']").addClass("errorlabel");
                formPass = 0;
            }

            if (formPass) {
                return true;
            }
            else {
                $("#required_fields").show();
                return false;
            }
        }

    </script>
{% endblock %}
