{% extends "portal_pages/search_filter_base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}
{% load portal_extras %}

{% block full-content %}
    <section class="content page-width">
        <h1 class="cushion">{{ self.title }}</h1>
            <div class="float-layout">
                <div class="quarter cushion">
                    <div class="filters cushion">

                        <label>Search</label>
                        <form action="." method="get">
                            <div class="search">
                                <input type="search" name="search" id="search" value="{{ request.GET.search }}">
                                <input type="hidden" name="country" id="country" value="{{ request.GET.country }}">
                                <input type="hidden" name="region" id="region" value="{{ request.GET.region }}">
                                <input type="hidden" name="focus_area" id="focus_area" value="{{ request.GET.focus_area }}">
                                <input type="hidden" name="organisation" id="organisation" value="{{ request.GET.organisation }}">
                                <input type="hidden" name="marketplace" id="marketplace" value="{{ request.GET.marketplace }}">
                                <input type="submit" value=" ">
                            </div>
                        </form>
                        <div class="clear"></div>

                        <label>Filters</label>
                        <div class="tags">
                            <a href=" {% pageurl self %} ">Clear all filters</a>
                        </div>

                        {% if self.countries %}
                            {% display_filter_list self.countries "region,focus_area,organisation,marketplace" %}
                        {% endif %}

                        {% if self.regions %}
                            {% display_filter_list self.regions "country,focus_area,organisation,marketplace" %}
                        {% endif %}

                        {% if self.focus_areas %}
                            {% display_filter_list self.focus_areas "country,region,organisation,marketplace" %}
                        {% endif %}

                        {% if self.organizations %}
                            {% display_filter_list self.organizations "country,region,focus_area,marketplace" %}
                        {% endif %}

                        {% if self.marketplace_entries %}
                            {% display_filter_list self.marketplace_entries "country,region,focus_area,organisation" %}
                        {% endif %}

                    </div>
                    <br />
                    <a class="button" href="{% routablepageurl self "submit" %}">Submit Your Own Story</a>
                </div>

                <div class="three-quarters">

                    {% if self.intro %}
                        <div class="cushion">
                            {{ self.intro|richtext }}
                        </div>
                    {% endif %}

                    <div class="flex-layout">
                        {% for page in casestudies %}
                            {% include "portal_pages/includes/page_list_item.html" %}
                        {% empty %}
                            {% include "portal_pages/includes/empty_search_filter.html" with things="case studies" %}
                        {% endfor %}
                    </div>

                    {# Pagination - uses django.core.paginator #}
                    <div class="two-thirds">&nbsp;</div>
                    <div class="cushion">
                        {% include "portal_pages/includes/pagination_nav.html" with items=casestudies %}
                    </div>

                </div>
        </div>
    </section>

    <div class="spacer"></div>

{% endblock %}
