{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load portal_extras %}

{% block full-content %}
    <section class="content page-width">
        <h1 class="cushion">{{ self.title }}</h1>
            <div class="float-layout">
                <div class="quarter cushion">
                    <div class="filters cushion">

                        <label>Search</label>
                        <form action="?country={{ request.GET.country }}&region={{ request.GET.region }}&focus_area={{ request.GET.focus_area }}&organization={{ request.GET.organization }}&marketplace={{ request.GET.marketplace }};" method="post">
                            {% csrf_token %}
                            <div class="search">
                                <input type="search" name="search" id="search" 
                                    value="{{ request.POST.search }}">
                                <input type="submit" value=" ">
                            </div>
                        </form>
                        <div class="clear"></div>

                        <label>Filters</label>
                        <div class="tags">
                            <a href=" {% pageurl self %} ">Clear all filters</a>
                        </div>


                        {% if self.countries %}
                            {% display_filter_list "country" "countries" self.countries "region,focus_area,organization,marketplace" %}
                        {% endif %}

                        {% if self.regions %}
                            {% display_filter_list "region" "regions" self.regions "country,focus_area,organization,marketplace" %}
                        {% endif %}

                        {% if self.focus_areas %}
                            {% display_filter_list "focus_area" "focus_areas" self.focus_areas "country,region,organization,marketplace" %}
                        {% endif %}

                        {% if self.organizations %}
                            {% display_filter_list "organization" "organizations" self.organizations "country,region,focus_area,marketplace" %}
                        {% endif %}

                        {% if self.marketplace_entries %}
                            {% display_filter_list "marketplace" "marketplace" self.marketplace_entries "country,region,focus_area,marketplace" %}
                        {% endif %}

                    </div>
                </div>


                <div class="three-quarters float-layout">

                    {% if self.intro %}
                        <div>
                            {{ self.intro|richtext }}
                        </div>
                    {% endif %}

                    {# Uses serve method defined in models.py - allows for paging if required #}
                    {# See also standard index for creating a listing with a tag #}
                    {% for page in casestudies %}
                        {% include "portal_pages/includes/page_list_item.html" %}
                    {% empty %}
                        <strong>No case studies found</strong>
                    {% endfor %}

                    {# Pagination - uses django.core.paginator #}
                    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
                    <div class="two-thirds">&nbsp;</div>
                    <div class="third">
                        {% if casestudies.has_previous %}
                            <a href="?page={{ casestudies.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
                        {% endif %}

                        Page {{ casestudies.number }} of {{ casestudies.paginator.num_pages }}

                        {% if casestudies.has_next %}
                            <a href="?page={{ casestudies.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
                        {% endif %}
                    </div>

                </div>
        </div>
    </section>

    <div class="spacer"></div>

    
{% endblock %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".collapsed").hide();
    $(".tagsheader").click(function(e){ // toggle tag collapse/uncollapse
        tagtype = $(e.target).attr("class").split(" ")[1]; // ie. countries
        if ($(".tags."+tagtype).hasClass("uncollapsed")) {
            $(".tags."+tagtype).hide("500");
            $(".tags."+tagtype).removeClass("uncollapsed");
            $(".tags."+tagtype).addClass("collapsed");
        }
        else {
            $(".tags."+tagtype).show("500");
            $(".tags."+tagtype).removeClass("collapsed");
            $(".tags."+tagtype).addClass("uncollapsed");
        }
    });
});
</script>
{% endblock %}
