{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
{% image self.hero_image width-1000 as heroimagedata %}
<style>
  .hero
  {
    min-height: {{ heroimagedata.height }}px;
    background-image: url({{ heroimagedata.url }});
  }
</style>
{% endblock %}

{% block hero-image %}
<section class="hero" alt="{{ self.hero_image.title }}">
    <div class="page-width">
        <h1>{{ self.hero_image.title }}</h1>
    </div>
</section>
{% endblock %}

{% block heading %}
  <div class="page-header">

    <div>
      <h4>Countries<h4>
      <p>
      {% for country in self.countries.all %}
        <a href="{% pageurl self.casestudy_index %}?country={{ country.country.name }}">
        {{ country.country.name }}
        </a>
      {% endfor %}
      </p>
    </div>

    <div>
      <h4>Focus Areas<h4>
      <p>
      {% for focus_area in self.focus_areas.all %}
        <a href="{% pageurl self.casestudy_index %}?focus_area={{ focus_area.focusarea.name }}">
        {{ focus_area.focusarea.name }}
        </a>
      {% endfor %}
      </p>
    </div>

    <div>
      <h4>Organizations<h4>
      <p>
      {% for organization in self.organizations.all %}
        <a href="{% pageurl self.casestudy_index %}?organization={{ organization.organization.name }}">
        {{ organization.organization.name }}
        </a>
      {% endfor %}
      </p>
    </div>

    <div>
      <h4>Tech Firms<h4>
      <p>
      {% for tech_firm in self.tech_firms.all %}
        <a href="{% pageurl self.casestudy_index %}?tech_firm={{ tech_firm.techfirm.name }}">
        {{ tech_firm.techfirm.name }}
        </a>
      {% endfor %}
      </p>
    </div>

    <h2>
      {{ self.title }}
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>

  </div>
{% endblock %}

{% block content %}
    
    {% if self.summary %}
      <div>{{ self.summary|richtext }}</div>
    {% endif %}

    {% if self.downloadable_package %}
      <div><a href="{{ self.downloadable_package.url }}">{{ self.downloadable_package.title }}</a></div>
    {% endif %}

{% endblock %}