{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block hero-image %}
    <div class="js-flickity" data-flickity-options='{ "imagesLoaded": true, "wrapAround": true }'>
    {% for hitem in self.hero_items.all %}
        <a href="{% pageurl hitem.target_page %}">
        	{% image hitem.hero_image height-400 %}
        	{{ hitem.blurb|richtext }}
				</a>
    {% endfor %}
    </div>
{% endblock %}

{% block content %}
<section class="highlights">
    <div class="page-width float-layout">
    {% for hlight in self.highlights.all %}
        <div class="half float-layout">
            <div class="third"><div class="cushion">
                <a href="{% pageurl hlight.target_page %}">{% image hlight.icon max-140x140 %}</a>
            </div></div>
            <div class="two-thirds"><div class="cushion">
                <h3><a href="{% pageurl hlight.target_page %}">{{ hlight.title }}</a></h3>
                {{ hlight.blurb|richtext }}
            </div></div>
        </div>
    {% endfor %}
    </div>
</section>


<p>Remaining sections still to be added!</p>
{% endblock %}
