{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block top-image %}
    <div class="js-flickity" data-flickity-options='{ "imagesLoaded": true, "wrapAround": true }'>
    {% for hitem in self.hero_items.all %}
        <a href="{% pageurl hitem.target_page %}">
            {% image hitem.hero_image height-400 %}
            <div class="highlight-item-bar">{{ hitem.blurb }}</div>
        </a>
    {% endfor %}
    </div>
    <br><br><br>
{% endblock %}

{% block full-content %}
    <section class="highlights">
        <div class="page-width flex-layout">
        {% for hlight in self.highlights.all %}
            <div class="half float-layout">
                {% include "portal_pages/includes/highlight_item.html" with hlight=hlight %}
            </div>
        {% endfor %}
        </div>
    </section>

    <div class="spacer"></div>

    {% if self.youtube_video_id %}
    <section class="homepage-video">
        <div class="spacer"></div>
        <div class="page-width cushion" id="homepage-video">
            <h2>{{ self.youtube_video_title }}</h2>
            {{ self.youtube_blurb|richtext }}
            <div id="homepage-video-player"></div>
        </div>
        <div class="spacer"></div>
    </section>
    {% endif %}

    <div class="spacer"></div>

    <div class="page-width" >
        <div class="flex-layout">
            <section class="featured-case-study half">
                {% if self.featured_case_study %}
                    {% image self.featured_case_study.top_image height-144 as img %}
                    <a href="{% pageurl self.featured_case_study %}"><h2>{{ self.featured_case_study.title }}</h2></a>
                    {{ self.featured_case_study_blurb|richtext }}
                    <a href="{% pageurl self.featured_case_study %}"><img class="full" src="{{ img.url }}" /></a>
                {% endif %}
            </section>

            <section class="call-to-action half">
                {% if self.get_started_now_page %}
                    <div class="transform-center">
                        <a href="{% pageurl self.get_started_now_page %}">
                            <img src="{% static 'images/RapidPro.io_Get Started Now.png' %}" />
                        </a>
                    </div>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    {% if self.youtube_video_id %}
    <script>
        // This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // This function creates an <iframe> (and YouTube player)
        // after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('homepage-video-player', {
            height: '336',
            videoId: '{{ self.youtube_video_id }}'
            });
        }
    </script>
    {% endif %}
{% endblock %}
