{% extends "base.html" %}
{% load static %}

{% block extra_header %}
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% url 'create_marketplace' %}" method="post">
    {% csrf_token %}

    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" /><br />

    <label for="biography">Biography</label><br />

    <textarea name="biography" id="biography" style="width:600px;height:400px;"></textarea><br />
    
    <br />
    {% for service in services %}
        <input type="checkbox" name="service" id="service{{ service.id }}" value="{{ service.id }}" />
        <label for="service{{ service.id }}">{{ service.name }}</label><br />
    {% endfor %}

    <input type="submit" value="Add" />
    </form>

    </div>
{% endblock %}

{% block extra_js %}
    <script>
        tinymce.init({
            menubar : false,
            plugins: ["link, image"],
            toolbar: [
            "undo redo | styleselect | bold italic bullist numlist | link image"
            ],
            content_css : "/static/css/main.css",
            style_formats: [
                {title: 'P', block: 'p'},
                {title: 'H2', block: 'h2'},
                {title: 'H3', block: 'h3'},
                {title: 'H4', block: 'h4'},
                {title: 'H5', block: 'h5'},
                {title: 'H6', block: 'h6'},
            ],
            selector:'textarea'});
    </script>
{% endblock %}


