{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <section class="highlights">
        <div class="page-width float-layout">

        {% if request.GET.country|length %}
            <h4>Showing posts tagged as {{ request.GET.country|safe }}</h4>
            <div class="tags"><a href=" {% pageurl self %} ">Show all</a></div>
        {% endif %}

        {% if request.GET.service|length %}
            <h4>Showing posts tagged as {{ request.GET.service|safe }}</h4>
            <div class="tags"><a href=" {% pageurl self %} ">Show all</a></div>
        {% endif %}

        {% if request.GET.expertise|length %}
            <h4>Showing posts tagged as {{ request.GET.expertise|safe }}</h4>
            <div class="tags"><a href=" {% pageurl self %} ">Show all</a></div>
        {% endif %}

        {% if self.intro %}
            <div>
                {{ self.intro|richtext }}
            </div>
        {% endif %}

        <h2 class="hidden">Highlights</h2>

        {# Uses serve method defined in models.py - allows for paging if required #}
        {# See also standard index for creating a listing with a tag #}

        {% for marketplace_entry in self.marketplace_entries %}
            {% include "portal_pages/includes/marketplace_entry_list_item.html" %}
        {% empty %}
            No marketplace entries found
        {% endfor %}

        </div>
    </section>

    <div class="clear"></div>
    
    {# Pagination - uses django.core.paginator #}
    {# Append any other url query string variables to the next and previous links - allows tag to be passed through #}
    <div class="row">
        <div class="col-sm-4 previous">
            {% if marketplace_entries.has_previous %}
                <a href="?page={{ marketplace_entries.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Previous</a>
            {% endif %}
        </div>
        <div class="col-sm-4 pages">
            Page {{ marketplace_entries.number }} of {{ marketplace_entries.paginator.num_pages }}
        </div>
        <div class="col-sm-4 next">
            {% if marketplace_entries.has_next %}
                <a href="?page={{ marketplace_entries.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next</a>
            {% endif %}
        </div>
    </div>

{% endblock %}