{% load static from staticfiles %}

{# Navigation header: on the base template #}

<header class="main-nav">
    <div class="page-width cushion">
        <a href="/" class="logo left"></a>
        <nav class="right">
            <a class="skip-link" href="#content">Skip Link</a>
            <a id="parent_learn" onclick="javascript:subNav('learn',this);">Learn</a>
            <a id="parent_connect" onclick="javascript:subNav('connect',this)">Connect</a>
            <a href="/stories/">Stories</a>
            <a id="nav_develop" target="_blank" href="https://github.com/rapidpro/">Develop</a>
            <a id="nav_freedemo" target="_blank" class="button" href="#">Free Demo</a>
        </nav>
        <div class="clear"></div>
    </div>
</header>
<header class="sub-nav">
    <div class="page-width">
        <nav id="subnav_right" class="right">
            <div id="subnav_learn" class="hidden">
                <a href="http://rapidpro1.uservoice.com/knowledgebase">Knowledge Base</a>
                <a href="videos/">Videos</a>
                <a href="online_courses/">Online Courses</a>
            </div>
            <div id="subnav_connect" class="hidden">
                <a href="forum/">User Forum</a>
                <a href="blog/">Blog</a>
            </div>
        </nav>
    </div>
</header>
