{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load portal_extras %}

{% block content %}
    <div class="two-thirds"><div class="cushion">

        <h1>{{ self.title }}</h1>

        {% if self.date %}
            <p>{{ self.date }}</p>
        {% endif %}

        {% if self.body %}
            <p>{{ self.body|richtext }}</p>
        {% endif %}

    </div></div>

    <div class="third">

        {% if self.blog_index %}

            <div class="cushion">
                <h3>Tags</h3>
                <div class="tags">
                    {% for tag in self.tags.all %}
                    <a href="{% pageurl self.blog_index %}?Tag={{ tag }}">
                        {{ tag }}
                    </a>
                    {% endfor %}
                </div>
            </div>

        {% endif %}

    </div>

    <div id="disqus_thread"></div>

{% endblock %}

{% block extra-js %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'rapidprocommunity';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}