{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}


<div class="half float-layout">

    <div class="third"><div class="cushion">    
    {% if blog.feed_image %}      
      {% image blog.feed_image width-150 as img %}
      <a href="{% pageurl blog %}">
        <img class="full" src="{{ img.url }}" />
      </a>
    {% endif %}
    </div></div>

    <div class="two-thirds"><div class="cushion">
        <a href="{% pageurl blog %}">
        <h3>{{ blog.title }}</h3>
        </a>
        <p><strong>{{ blog.date }}</strong></p>
        {% if blog.search_description %}
          <p>{{ blog.search_description }}</p>
        {% endif %}
    </div></div>

    </a>
</div>