{% load wagtailcore_tags wagtailimages_tags %}

{# Individual casestudy item in a list - used on casestudy index and home page #}


<div class="half float-layout">

    <div class="third"><div class="cushion">    
    {% if casestudy.feed_image %}      
      {% image casestudy.feed_image width-150 as img %}
      <a href="{% pageurl casestudy %}">
        <img class="full" src="{{ img.url }}" />
      </a>
    {% endif %}
    </div></div>

    <div class="two-thirds"><div class="cushion">
        <a href="{% pageurl casestudy %}">
        <h3>{{ casestudy.title }}</h3>
        </a>
        <p><strong>{{ casestudy.date }}</strong></p>
        {% if casestudy.search_description %}
          <p>{{ casestudy.search_description }}</p>
        {% endif %}
    </div></div>

    </a>
</div>