{% load wagtailcore_tags wagtailimages_tags %}

{# Individual marketplace entry item in a list - used on marketplace index #}


<div class="half float-layout">

    <div class="third"><div class="cushion">    
    {% if marketplace_entry.top_image %}
      {% image marketplace_entry.top_image width-150 as img %}
      <a href="{% pageurl marketplace_entry %}">
        <img class="full" src="{{ img.url }}" />
      </a>
    {% else %}
        <a href="{% pageurl marketplace_entry %}">
          <img class="full" src="/static/images/default_banner_image.jpg" />
        </a>
    {% endif %}
    </div></div>

    <div class="two-thirds"><div class="cushion">
        <a href="{% pageurl marketplace_entry %}">
        <h3>{{ marketplace_entry.title }}</h3>
        </a>
        <p><strong>{{ marketplace_entry.date }}</strong></p>
        {% if marketplace_entry.search_description %}
          <p>{{ marketplace_entry.search_description }}</p>
        {% endif %}
    </div></div>

    </a>
</div>