{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load portal_extras %}

{% block content %}
    <div class="two-thirds"><div class="cushion">

        <h1>{{ self.title }}</h1>

        {% if self.casestudy_index %}

            <div class="tags">
                {% for region in self.regions.all|make_unique:"region__name" %}
                    <a href="{% pageurl self.casestudy_index %}?region={{ region.region.name }}">
                    {{ region.region.name }}
                    </a>
                {% endfor %}
            </div>

            <div class="tags">
                {% for country in self.countries.all|make_unique:"country__name" %}
                    <a href="{% pageurl self.casestudy_index %}?country={{ country.country.name }}">
                    {{ country.country.name }}
                    </a>
                {% endfor %}
            </div>

        {% endif %}

        {% if self.date %}<p>Launched: {{ self.date|date:"F Y"  }}</p>{% endif %}

        {% if self.summary %}
            <p>{{ self.summary|richtext }}</p>
        {% endif %}

    </div></div>

    <div class="third">

    {% if self.downloadable_package %}
        <div class="cushion">
            <h3>Import the Flow</h3>
            <a class="button" href="{{ self.downloadable_package.url }}">{{ self.downloadable_package.title }}</a>
        </div>
    {% endif %}

    {% if self.casestudy_index %}

    <div class="cushion">
        <h3>Focus Areas</h3>
        <div class="tags">
            {% for focus_area in self.focus_areas.all|make_unique:"focusarea__name" %}
            <a href="{% pageurl self.casestudy_index %}?focus_area={{ focus_area.focusarea.name }}">
                {{ focus_area.focusarea.name }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="cushion">
        <h3>Organisations</h3>
        <div class="tags">
            {% for organization in self.organizations.all %}
                <a href="{% pageurl self.casestudy_index %}?organisation={{ organization.organization.name }}">
                {{ organization.organization.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    {% if self.marketplace_entry %}
        <div class="cushion">
            <h3>Tech Firm</h3>
            <ul>
                <li><a href="{% pageurl self.marketplace_entry %}">
                {{ self.marketplace_entry.title }}
                </a></li>
            </ul>
        </div>
    {% endif %}

    {% endif %}
    </div>

{% endblock %}
