html,body {
	height:100%;
}

html[dir="rtl"] body { direction:rtl; }

.page-width {
	max-width:960px;
	margin:0 auto;
}

.cushion { padding:10px; }
.cushion-sides { padding: 0 10px; }
.cushion-ends { padding: 10px 0; }

.float-layout > * {
	float:left;
	width:100%;
}
html[dir="rtl"] .float-layout > * { float:right; }

.right { float:right; }
html[dir="rtl"] .right { float:left; }
.left { float:left; }
html[dir="rtl"] .left { float:right; }

.full { width:100%; }
@media (min-width: 700px) {
	.half { width:50%; max-width:50%; }
	.third { width:33.33333333%; max-width:33.33333333%; }
	.two-thirds { width:66.66666666%; max-width:66.66666666%; padding-right:5%;}
	.quarter { width:25%; max-width:25% }
	.three-quarters { width:75%; max-width:75%; }
	.fifth { width:20%; max-width:20%; }
	.two-fifths { width:40%; max-width:40%; }
	.three-fifths { width:60%; max-width:60%; }
	.four-fifths { width:80%; max-width:80%; }
	.sixth { width:16.66666666%; max-width:16.66666666%; }
	.five-sixths { width:83.33333333%; max-width:83.33333333%; }
}

.permanent.half { width:50%; }
.permanent.third { width:33.33333333%; }
.permanent.two-thirds { width:66.66666666%; }
.permanent.quarter { width:25%; }

.fit-child > *{ width: 100%; height:auto; }

.clear,
html[dir="rtl"] .clear { clear:both; float:none; }
.spacer { height:2em; }
.hidden { display:none; }

.table-layout { display:table; width:100%; }
.table-layout > * { display:table-row; }
.table-layout > * > * { display:table-cell; }

.flex-layout {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
}
.flex-layout > * {
	-ms-flex:auto;
	-webkit-flex:auto;
	flex:auto;
	width:20em;
}

.transform-parent{
	overflow:hidden;
}

.transform-center {
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
