/*main.css*/

body{
	font-size:16px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:200;
}

header{
	background-color:#0C6596;
}

.logo{
	height:2em;
}

nav a{
	display:inline-block;
	color:white;
}

nav a:hover{

}

.skip-link{ display:none; }
.skip-link:focus{ display:block; }

.cushion{
	margin:10px;
}

.button{
	padding:0.5em;
	text-decoration:none;
	background-color:teal;
	border-radius:4px;
}

.hero{
	height:200px;
	background-color:#bbb;
	background-image:url(http://placehold.it/1400x400);
	background-position: 50% 50%;
	background-size: cover;
}