/*main.css*/

body{
	font-size:18px;
	font-family:Calibri,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:200;
}

::selection { background-color: #F33; }
::-moz-selection { background-color: #F33; color:white; }

h1{ font-size:180%; }
h2{ font-size:140%; }
h3{ font-size:120%; }
h4{ font-size:110%; }

header,footer{
	overflow:auto;
}

header{
	background-color:#069;
}
footer{
	background-color:#aaa;
	padding-bottom:4em;
	color:#777;
}

a{ text-decoration:none; }
a:hover{ text-decoration:underline; }

.logo{
	height:2em;
}

nav a{
	display:inline-block;
	padding:0 0.5em;
	color:white;
}

nav a:hover{

}

.skip-link{ display:none; }
.skip-link:focus{ display:block; }

.cushion{
	margin:10px;
}

.button{
	display:inline-block;
	padding:0.5em;
	text-decoration:none;
	text-align: center;
	background-color:teal;
	color:white;
	border-radius:4px;
	box-sizing: border-box;
}

.hero{
	height:330px;
	background-color:#bbb;
	background-image:url(http://placehold.it/1400x400);
	background-position: 50% 50%;
	background-size: cover;
}

.featured-case-study .cushion{
	margin-top:0;
}

.call-to-action{
	background-color:#069;
	/*background image could go here*/
}

.call-to-action .button{
	background-color:white;
	color:black;
}

section{
	overflow:auto;
}

.tags > *{
	display:inline-block;
	margin-bottom: 0.25em;
	border-radius: 0.25em;
	background-color:#777;
	color:white;
	padding:1px 0.25em;
}

.tags > a:hover{
	text-decoration: none;
	background-color:#888;
}

ul{
	padding-left: 1em;
}