/*main.css*/

body{
  font-size:18px;
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:400;
  color:black;
}

::selection { background-color: #F33; color:white; }
::-moz-selection { background-color: #F33; color:white; }

h1, h2, h3, h4 {
  font-weight:700;
}

h1{ font-size:180%; }
h2{ font-size:160%; }
h3{ font-size:130%; }
h4{ font-size:110%; }

header,footer{
  overflow:auto;
}

header{
  background-color:#069;
}
footer{
  background-color:#00517A;
  padding-bottom:4em;
  color:#FFF;
}

a{
  text-decoration:none;
  color: #069;
}
a:hover{ text-decoration:underline; }

.logo{
  display:block;
  width:154px;
  height:43px;
  background-image: url(../images/svg/rapidpro_logo_optimized.svg);
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

nav a{
  display:inline-block;
  padding:0 0.5em;
  color:white;
  font-size: 0.8em;
}

.main-nav nav a {
  padding-top: 0.75em;
}

nav a.selected{
  background-color: #00517A;
  padding: 0.75em 0.5em 1.5em 0.5em;
  margin-bottom: -1em;
  text-align: center;
}

.apps-banner{
  border-top: #006699 4px solid;
  background-color: #FD8A57;
  font-size:90%;
  color: #FFF;
  font-style: italic;
  text-align: center;
}

.apps-banner a{
  font-size:100%;
  font-weight: 700;
}

.main-nav {
  font-weight: 700;
}

.sub-nav{
  font-size:90%;
  line-height:1.75em;
  background-color:#00517A;
  margin-top: -0.35em;
  font-weight: 700;
  min-height: 30px;
}
.sub-nav .page-width{
  padding:0 9em;
}

.sub-nav .selected {
  color: #45B0E5;
  padding: 0em 0.5em;
}

.skip-link{ display:none; }
.skip-link:focus{ display:block; }

.button{
  display:inline-block;
  padding:0.5em;
  text-decoration:none;
  text-align: center;
  background-color:#45B0E5;
  color:white;
  border-radius:4px;
  box-sizing: border-box;
}

.hero, .top-image {
  height:200px;
  background-color:#bbb;
  background-position: 50% 50%;
  background-size: cover;
}

.marketplace-logo {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.featured-case-study .cushion{
  margin-top:0;
}

.call-to-action{
    background-color:white;
    /*background image could go here*/
    min-height:4em;
}

.call-to-action .button{
  background-color:#069;
  color:white;
}

.tags > *{
  display:inline-block;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
  background-color:rgba(0, 0, 0, 0.1);
  color:#333;
  padding:1px 0.25em;
  font-size: 0.8em;
}

.tags > a:hover{
  text-decoration: none;
  background-color:#069;
  color:white;
}

.filters{
  background-color:#abc2ce;
  border-radius:4px;
}

.filters .active{
  background-color:rgba(255,255,255,0.5);
}

.filters .active:hover{
  background-color:#5d5d5d;
}

.filters label {
  font-size: 0.8em;
}

.tagsheader, .addheader {
  background-image: url(../images/svg/listing.svg);
  background-size:auto 15px;
  background-position: 0.5em 50%;
  background-repeat: no-repeat;
  line-height: 32px;
  padding-left: 32px;
  cursor: pointer;
  font-size: 0.8em;
}

.addheader {
  color: #069;
}

ul{
  padding-left: 1em;
}

ol{
  padding-left: 1.5em;
}

.result .icon{
  width: 32px;
  height: 32px;
  background-color: #069;
  border-radius: 50%;
  position: absolute;
  left: 1em;
  top:-14px;
}

.result .icon-bar{
  height:4px;
  background-color:#069;
  margin-bottom:1em;
}

.homepage-video{
  background-color:#00517A;
  color: #FFF;
}

.rich-text p{
  padding-top:5px;
  padding-bottom:10px;
  font-size:0.8em;
  line-height: 1.7em;
  letter-spacing: 0.4px;
}


.rich-text li p, .rich-text li, .rich-text dt, .rich-text dt p, .rich-text dd, .rich-text dd p {
  font-size:0.8em;
  line-height: 1.9em;
  letter-spacing: 0.4px;
}

.rich-text img.left{ margin: 0 1em 0 0; }
.rich-text img.right{ margin: 0 0 0 1em; }
/* manually override floats in rtl because the admin offers "left" and "right" explicitly */
html[dir="rtl"] .rich-text img.left{ margin: 0 0 0 1em; float:left;}
html[dir="rtl"] .rich-text img.right{ margin: 0 1em 0 0; float:right;}

.highlights .rich-text p {
  font-weight: 600;
}

input[type="search"]{
  width:100%;
  border-radius:4px;
  padding: 0 2.0em 0 0.25em;
}

input[type="button"],
input[type="submit"],
button
.button{
  cursor: pointer;
}

.search input[type="submit"]{
  position:absolute;
  width:1.5em;
  height:1em;
  right:0.2em;
  top:0.2em;
  border-radius:4px;
  background-color: transparent;
  background-image: url(../images/svg/search.svg);
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search input[type="submit"]:hover{
  background-color:#069;
}

hr{
  width:75%;
  border-bottom:solid 2px #ddd;
  margin: 20px auto;
}

.responsive-object {
  padding-bottom: 0px !important; /* override wagtail embed div inline style */
}
